<div class="pageBox">
    <div class="headerBox">Header</div>
    <div class="contentBox">
        <div class="contentBoxLeft"><pre>ContentLeft asdf


            c
            fe
            f
            ew
            f
            ewf
            ew
            f
            ewf
            ew
            f
            we
            f
            ew
            fe
            wfew
            f
            ew
            f
            ew
            f
            ewf
            e
            wfe
            fasdf adsf assf</pre></div>
        <div class="contentBoxRight"><pre>
            ContentRight asdf asdfa dasf asdf asd
            f
            d
            fsd
            f
            ds
            fds
            f
            sd
            f
            sdf
            ds
            f
            dsf
            ds
            f
            ds
            f
            ds
            f
            ds
            f
            ds
            ffd asfasd fdasfasdf dasfsad fdasfds<br /><br />asdfsad ff asdf asdfasd
        </pre>


        </div>
    </div>
    <div class="footerBox">Footer</div>
</div>
<!--<section data-ng-controller="ProjectsController" data-ng-init="find()">-->
<!--<div class="row-fluid">-->
    <!--<div class="col-md-1">-->
        <!--<div class="pre-scrollable">-->
            <!--<div  style="background-color: #808080">-->
            <!--text-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="col-md-4">-->
        <!--<div class="pre-scrollable1">-->
            <!--<div class="row" data-ng-repeat="project in projects">-->
            <!--<div class="col-md-12">-->

            <!--<span>{{project.created | date:'medium'}}</span>-->
            <!--<span>{{project.updated | date:'medium'}}</span>-->
            <!--<span>{{project.user.name}}</span>-->
            <!--<h2><a ng-click="showProject(project._id)">{{project.title}}</a></h2>-->
            <!--<div>{{project.description}}</div>-->
            <!--</div>-->
            <!--</div>-->

        <!--</div>-->
    <!--</div>-->
    <!--<div class="col-md-7">-->
        <!--<div class="pre-scrollable">{{project || json}}</div>-->
    <!--</div>-->
<!--</div>-->
<!--</section>-->

<!--<section data-ng-controller="ProjectsController" data-ng-init="find()">-->

<!--<div class="row"  >-->
    <!--<div class="col-md-1 pre-scrollable " style="background-color: #808080">-->
        <!--text-->
    <!--</div>-->
    <!--<div class="col-md-2 pre-scrollable " >-->

        <!--<div class="row" data-ng-repeat="project in projects">-->
          <!--<div class="col-md-12">-->

              <!--<span>{{project.created | date:'medium'}}</span>-->
              <!--<span>{{project.updated | date:'medium'}}</span>-->
              <!--<span>{{project.user.name}}</span>-->
              <!--<h2><a ng-click="showProject(project._id)">{{project.title}}</a></h2>-->
              <!--<div>{{project.description}}</div>-->
          <!--</div>-->
        <!--</div>-->

    <!--</div>-->
    <!--<div class="col-md-7 pre-scrollable ">{{project || json}}</div></div>-->
<!--</div>-->

<!--</section>-->


